body {
    background-image: url('background2wow.png');
 
}



#interface {
    width: 80%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: fixed;
    }

    #frame {
        margin-top: 2%;
        width: 90%;
        height: 90%;
        position: fixed;
        z-index: 98;
    }


    #framedur {
        margin-top: 130px;
        width: 90%;
        height: 50%;
        position: fixed;
        z-index: 98;
    }

    #button {
    
        position: fixed;
        margin-top: 60px;
        margin-left: 82%;
        z-index: 99;
    }


    #gallery {
        margin-top: 100px;
        position: fixed;
        width: 700px;
        z-index: 90;
        margin-left: 200px;
    }
    
    #button2 {
    
        position: fixed;
        margin-top: 110px;
        margin-left: 82%;
        z-index: 99;
    }

    #but {
        width: 8%;
        position: fixed;
    }

   #text {
       background-color: white;
       font-family: cursive;
       font-size: 110%;
       position: fixed;
       margin-left: 15%;
       margin-top: 15%;
    
    }

    #time {
        width: 105px;
        background-color: white;
        font-family: cursive;
        font-size: 30px;
        margin-left: 6%;
        z-index: 99999999;
     
     }
    

     #vid {
         position: fixed;
         margin-top: 70px;
         margin-left: 78px;
 
     }


/*IMAGES*/

#n1 {
    width: 300px;
    margin-top: 2%;
    position: fixed;
    z-index: 97;
}


#n2 {
    width: 300px;
    height: 400px;
    margin-top: 20px;
    position: fixed;
}


#n3 {
    width: 320px;
    height: 375px;
    margin-top: 80px;
    margin-left: 68px;
    position: fixed;
}

#audiogen {
    position: fixed;
    width: 140px;
    margin-top: 290px;
    margin-left: 110px;
    z-index: 999;
}